body{
    background-color: #EFF955;
}

h1{
    color: purple;
    font-size: 60px;
    animation: cambioh1 20s infinite;
}


@keyframes cambioh1{
    0% { color: purple; transform: translateX(0px); } 
    25% { color: pink; transform: translateX(20px); }
    50% { color: blue; transform: translateX(40px); }
    75% { color: green; transform: translateX(60px); }
    100% { color: purple; transform: translateX(80px); }
}

#agregar{
   margin: 100px 450px;
   width: 300px;
   height: 80px;
   font-size: 20px;
   border: dotted blue 5px;
   background-color: pink;
}
#agregar:hover{
    background-color: aqua;
    color:white;
    transform: scale(2);
    cursor: pointer;
}
